<!-- public/views/nerd.html -->

<nav class="navbar navbar-inverse subnav">
	<ul class="nav navbar-nav">
		<li class="active"><a href="/nerds">All Users</a></li>
		<li><a href="/nerds/newUser">New User</a></li>
	</ul>
</nav>

<div class="jumbotron">
	<h2>Overview of all Nerds</h2>
	<div id="search">
		<input class="search-function" placeholder="Search" type="text" ng-model="filterVar">		
		<button ng-click="advancedSearch()">{{searchState}} Advanced Search</button>
		<div ng-if="advancedSearchBool">
			<p>bla</p>
		</div>
	</div>
	
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<th>Username</th>
			<th>Password</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="nerd in nerds | orderBy:'name':sortOrder | filter:filterVar">	
			
			<td>{{nerd.name}}</td> 
			<td>{{nerd.surname}}</td>
			<td>{{nerd.username}}</td>
			<td>{{nerd.password}}</td>	
			<td><button ng-click="deleteNerd(nerd.name)">Delete</button></td>
			<td><button ng-click="startEdit(nerd)">Edit</button></td>
		</tr>	
	</table>
	<div ng-if="deleted">
		<p>{{deletedName}} was deleted</p>
	</div>

	<form action="" ng-submit="putNerd(updateData.name)" ng-if="isEditing && !cancelEdit" >
		<input type="text" ng-model="updateData.name">
		<input type="text" ng-model="updateData.surname">
		<input  type="text" ng-model="updateData.username">
		<input type="password" ng-model="updateData.password">
		<button type="submit">speichern</button>
	</form>
	
	<button ng-click="sorting()">Sort {{ordered}}</button>
</div>