*{
	margin:0;
	padding:0;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-brand:hover {
	background-color: #dd4814;
}


.mainnav{
	margin-bottom: 5px;
}

.subnav{
	min-height:0;
}

.subnav li a{
	padding-top:5px;
	padding-bottom: 5px;
}

.jumbotron{
	position:relative;
}

.jumbotron h2{
	margin-bottom: 20px;
}

#search{
	position:absolute;
	top:30px;
	right:60px;
}

.search-function{
	display:block;
}