

<nav class="navbar navbar-inverse subnav">
	<ul class="nav navbar-nav">
		<li><a href="/nerds/">All Users</a></li>
		<li class="active"><a href="/nerds/newUser">New User</a></li>
	</ul>
</nav>

<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>
	<input type="text" ng-model="filterVar">

	<!--Foreach Schleife für alle Nerds-->

	<div ng-repeat="nerd in nerds | orderBy:'name':reverse | filter:filterVar">
		<p>{{nerd.name}},{{nerd.surname}} | Username: {{nerd.username}}, PW: {{nerd.password}}</p> <button ng-click="deleteNerd(nerd._id)">Delete</button>
	</div>
	<button ng-click="sorting()">Sort {{ordered}}</button>
	<p ng-show="!reverse">ASCENDING</p>
	<p ng-if="reverse">DESCENDING</p>

	<!--Eingabe der Werte-->

	<form ng-submit="createNerd(formData)">
		<input type="text" ng-model="formData.name">
		<input type="text" ng-model="formData.surname">
		<input type="text" ng-model="formData.username">
		<input type="password" ng-model="formData.password">
		<button type="submit">submit</button>
	</form>
	<p>{{formData.name}}</p>
</div>